// ============
// MobileNav
// ============

.MobileNav {
  position: relative;
}

.MobileNav-button {
  position: absolute;
  left: $v;
  top: $v;
}

.MobileNav-logo {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);

  .Icon > svg {
    width: 48px;
    height: 48px;
  }
}

.MobileNav-menu {
}

.MobileNav-menu-list {
  overflow: hidden;
  padding: $v;
  height: 100%;
  background: $background-blue;
}

.MobileNav-menu-item {
  margin: 8px;
  padding: 8px;
  background-color: $black;
  color: $white;
}

.MobileNav-menu-link {
  text-align: center;
  padding: 8px;
  transition: all .2s linear;

  &:visited {
    color: $white;
  }

  &:hover {
    color: $grey-light;
  }
}