// ============
// GRID
// ============

// Main Grid
// - left gutter (min-width: 12px)
// - main content (max-width 1080px)
// - right gutter (min-width: 12px)
%MainGridContainer {
  display: grid;
  grid-template-columns:
    [full-start]
    minmax(0.75em, 1fr) // 12px min
    [main-start]
    minmax(0, 1080px)
    [main-end]
    minmax(0.75em, 1fr) // 12px min
    [full-end];
}

%MainGridContainer-Content {
  grid-column: main-start / main-end;
}

// ============
// Content Grid, 12 columns - [ 1 2 3 4 5 6 7 8 9 10 11 12 ]
// This sits inside the MainGrid
// ============
%Container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 0.75em;
  grid-template-rows: auto;
}
